imagecodecs[all]
kedro-datasets[matplotlib.MatplotlibWriter]~=1.0.0
kedro
keras
numpy~=1.20
btpytools
blosc2
# tensorflow-macos
# tensorflow-metal
h3
geopandas
pygraphviz
kedro[pandas]
stellargraph
spektral
shapely==2.0.0
pickle5
pandas==1.5.2
tqdm==4.64.1
black~=22.0
flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0
isort~=5.0
jupyter~=1.0
jupyterlab_server>=2.11.1, <2.16.0
jupyterlab~=3.0
kedro~=0.18.4
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
pandas>=1.5.2
kedro-viz~=5.0